{% extends 'layout.html.twig' %}
{% block title %} Edicion del articulo {{post.title}} {% endblock %}
{% block content %}
    <h2>Edicion del articulo {{post.title}}</h2>
    {{ form(form) }}
{% endblock %}


